.bNbZgU {
  padding: 0 1em;
}
.NvlDj {
  padding: 0;
}
.lbjsRg {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.iBRpTV {
  margin: 1.5em 0;
}
.dQJLnb {
  padding: 1em 0;
  box-shadow: 3px 3px 10px 1px #888888;
  border-radius: 3px;
}
.cardc {
  list-style-type: none;
  margin: 1em 1em;
  padding: 0;
}
.hoHlmE {
  color: #ffc0cb;
}
.cAUeOX {
  color: blue;
}
.KXpmG {
  margin: 0;
  color: #333333;
}
.bMQtRC {
  color: #407cbb;
}
.cPyiSR {
  color: #e58a82;
}
.jJvZOd {
  color: #9cd005;
}
.gBeaME {
  color: #b96fcf;
}
.ilkctJ {
  color: #66e16e;
}
.dxwEzG {
  color: #72d0d9;
}
.cnFbqo {
  color: #023ed6;
}
.cPKwkJ {
  color: #55f588;
}
.drFSHS {
  color: #229a55;
}
.gOcobq {
  color: #28ca1e;
}
.gWYpTq {
  color: #cefd9a;
}
.xEfHK {
  color: #333bde;
}
.ixXvja {
  color: #08eba2;
}
.jaUewL {
  color: #bca12f;
}
.fQEwpb {
  color: #e96ec9;
}
.dYFynh {
  color: #ecc7de;
}
.bELoMW {
  color: #5c3fc0;
}
.iwUVuR {
  color: #81b008;
}
.vMYaz {
  color: #2bd764;
}
.gPsoVY {
  color: #1de754;
}
.ifSLTM {
  color: #35cb72;
}
.cVOEoK {
  color: #d3063f;
}
.fihBDe {
  color: #f63b01;
}
.foqBVa {
  color: #bdcbef;
}
.fWakFa {
  color: #1c5e2d;
}
